!----------------!
! URxvt Settings !
!----------------!

!Titre du Terminal
URxvt.title:                Andromeda
URxvt.imLocale:             fr_FR.UTF-8
URxvt.saveLines:            500
URxvt.termName:             rxvt-unicode-256color
URxvt.iconFile:             /usr/share/icons/Faenza/apps/64/utilities-terminal.png

!Gestion de la vrai transparence
!URxvt.depth:                32

!Taille par défaut largeur x hauteur + x + y
! largeur et hauteur en caractères
! x et y par rapport au coin gauche haut (en px)
URxvt.geometry:             90x20+300+550

!Barre de défilement
URxvt.scrollBar:            false

!Desactive/Active la bordure
!URxvt.borderLess:          true

!Police TTF
URxvt.font: xft:DejaVu Sans Mono for Powerline:style=Book:size=12
URxvt.boldFont: xft:DejaVu Sans Mono for Powerline:style=Bold=12
!URxvt.xftAntialias: true

! Anti-Stress
URxvt.cursorBlink:      false
!URxvt.cursorColor:      #FFA500
URxvt.cursorColor2:     #FFFFFF

! Couleur du Man
URxvt.colorIT:          #BBBBBB
URxvt.colorBD:          #20E7F8
URxvt.colorUL:          #DB00FF
URxvt.colorBDMode:      true
URxvt.colorULMode:      true
URxvt.tintColor:        white
URxvt.internalBorder:   0
URxvt.dynamicColors:    on

! Navigateur par défaut (pour lancer une url sélectionnée avec entrée)
URxvt.urlLauncher: /usr/bin/x-www-browser

!! on peut choisir de souligner les urls
URxvt.underlineURLs: true

! Clickble URLs
URxvt.perl-ext-common: default,matcher

!--------------------------!
! URxvt Extension Settings !
!--------------------------!
URxvt.matcher.button:       3


!------------------!
! Xcursor Settings !
!------------------!
Xcursor.theme:              Ecliz
Xcursor.size:               16



URxvt.background:            S_base03
URxvt.foreground:            S_base0
URxvt.fading:                40
URxvt.fadeColor:             S_base03
URxvt.cursorColor:           S_base1
URxvt.pointerColorBackground:S_base01
URxvt.pointerColorForeground:S_base1

!! black dark/light
URxvt.color0:                S_base02
URxvt.color8:                S_base03

!! red dark/light
URxvt.color1:                S_red
URxvt.color9:                S_orange

!! green dark/light
URxvt.color2:                S_green
URxvt.color10:               S_base01

!! yellow dark/light
URxvt.color3:                S_yellow
URxvt.color11:               S_base00

!! blue dark/light
URxvt.color4:                S_blue
URxvt.color12:               S_base0

!! magenta dark/light
URxvt.color5:                S_magenta
URxvt.color13:               S_violet

!! cyan dark/light
URxvt.color6:                S_cyan
URxvt.color14:               S_base1

!! white dark/light
URxvt.color7:                S_base2
URxvt.color15:               S_base3


