<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<menu id="dev" label="Dev">
			<item label="Terminal">
				<action name="Execute">
					<execute>
						urxvt -e screen
					</execute>
				</action>
			</item>
			<item label="Gvim">
				<action name="Execute">
					<execute>gvim</execute>
				</action>
			</item>
			<item label="Geany">
				<action name="Execute">
					<execute>
						geany
					</execute>
				</action>
			</item>
		</menu>
		<!-- This requires the presence of the 'menu' package to work -->
		<menu id="game" label="Jeux">
			<item label="Minecraft">
				<action name="Execute">
					<execute>java -jar ~/Bureau/minecraft.jar</execute>
				</action>
			</item>
		</menu>
		<menu id="multimedia" label="Multimedia">
			<item label="Nitro">
				<action name="Execute">
					<execute>python /home/seb/dev/nitrotasks/bin/nitrotasks</execute>
				</action>
			</item>
			<item label="Cool Reader">
				<action name="Execute">
					<execute>cr3</execute>
				</action>
			</item>
			<item label="Calibre">
				<action name="Execute">
					<execute>calibre</execute>
				</action>
			</item>
			<item label="GCStar">
				<action name="Execute">
					<execute>gcstar</execute>
				</action>
			</item>
			<item label="JDLauncher">
				<action name="Execute">
					<execute>./.jdownloader/JDLauncher</execute>
				</action>
			</item>
			<item label="PyRenamer">
				<action name="Execute">
					<execute>
						pyrenamer
					</execute>
				</action>
			</item>
			<item label="VLC">
				<action name="Execute">
					<execute>
						vlc
					</execute>
				</action>
			</item>
			<item label="Icedove">
				<action name="Execute">
					<execute>
						icedove
					</execute>
				</action>
			</item>
			<item label="Brasero">
				<action name="Execute">
					<execute>
						brasero
					</execute>
				</action>
			</item>
			<item label="Iceweasel">
				<action name="Execute">
					<execute>
						iceweasel
					</execute>
				</action>
			</item>
			<item label="qBittorrent">
				<action name="Execute">
					<execute>
						qbittorrent
					</execute>
				</action>
			</item>
			<item label="Zim">
				<action name="Execute">
					<execute>
						zim
					</execute>
				</action>
			</item>
			<item label="Liferea">
				<action name="Execute">
					<execute>
						liferea
					</execute>
				</action>
			</item>
			<item label="Quod Libet">
				<action name="Execute">
					<execute>
						quodlibet
					</execute>
				</action>
			</item>
			<item label="X-Chat">
				<action name="Execute">
					<execute>
						xchat
					</execute>
				</action>
			</item>
			<item label="Pondus">
				<action name="Execute">
					<execute>
						pondus
					</execute>
				</action>
			</item>
			<item label="Brasero">
				<action name="Execute">
					<execute>
						brasero
					</execute>
				</action>
			</item>
		</menu>
		<menu id="bureautique" label="Bureautique">
			<item label="Grisbi">
				<action name="Execute">
					<execute>
						grisbi
					</execute>
				</action>
			</item>
			<item label="Freeplane">
				<action name="Execute">
					<execute>
						freeplane
					</execute>
				</action>
			</item>
			<item label="LibreOffice">
				<action name="Execute">
					<execute>
						lbreoffice
					</execute>
				</action>
			</item>
			<item label="Libreoffice Writer">
				<action name="Execute">
					<execute>
						lowriter
					</execute>
				</action>
			</item>
			<item label="LibreOffice Calc">
				<action name="Execute">
					<execute>
						localc
					</execute>
				</action>
			</item>
			<item label="LibreOffice Base">
				<action name="Execute">
					<execute>
						lobase
					</execute>
				</action>
			</item>
			<item label="LibreOffice Impress">
				<action name="Execute">
					<execute>
						loimpress
					</execute>
				</action>
			</item>
		</menu>
		<menu id="graphisme" label="Graphisme">
			<item label="Gimp">
				<action name="Execute">
					<execute>
						gimp
					</execute>
				</action>
			</item>
			<item label="Inkscape">
				<action name="Execute">
					<execute>
						inkscape
					</execute>
				</action>
			</item>
			<item label="Scribus">
				<action name="Execute">
					<execute>
						scribus
					</execute>
				</action>
			</item>
			<item label="Kino">
				<action name="Execute">
					<execute>
						kino
					</execute>
				</action>
			</item>
			<item label="XSane">
				<action name="Execute">
					<execute>
						xsane
					</execute>
				</action>
			</item>
			<item label="OpenOffice.org Draw">
				<action name="Execute">
					<execute>
						oodraw
					</execute>
				</action>
			</item>
		</menu>
		<menu id="admin" label="Admin">
			<item label="Nautilus">
				<action name="Execute">
					<execute>nautilus --no-desktop</execute>
				</action>
			</item>
			<item label="Synaptic">
				<action name="Execute">
					<execute>
						gksudo synaptic
					</execute>
				</action>
			</item>
			<item label="Nitrogen">
				<action name="Execute">
					<execute>
						nitrogen ~/.wallpaper
					</execute>
				</action>
			</item>
			<item label="Cover Thumbnailer">
				<action name="Execute">
					<execute>
						cover-thumbnailer-gui
					</execute>
				</action>
			</item>
			<item label="Gmrun">
				<action name="Execute">
					<execute>
						gmrun
					</execute>
				</action>
			</item>
			<item label="ObMenu">
				<action name="Execute">
					<execute>
						obmenu
					</execute>
				</action>
			</item>
			<item label="ObConf">
				<action name="Execute">
					<execute>
						obconf
					</execute>
				</action>
			</item>
			<item label="Theme Gtk">
				<action name="Execute">
					<execute>
						lxappearance
					</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="client-list-menu"/>
		<menu id="Debian"/>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<separator/>
		<item label="Quitter">
			<action name="Execute">
				<execute>sh /home/seb/.dotfiles/sh/cb-exit</execute>
			</action>
		</item>
		<item label="Deconnection">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
